#content
    .container
        #welcome.jumbotron
            h1 Welcome to Bones 
                small v0.1.0
            p.
                This is a super badass project framework that I made that uses Bootstrap, jQuery, Node and a bunch of other cool packages that I like.
            .btn-group
                a.btn.btn-primary.btn-lg(role="button" href="https://github.com/dajoker29/bones") Source
                a.btn.btn-success.btn-lg(role="button" href="http://zerodaedalus.com") My Website
        include _notes.jade
        include _style.jade
