#style.page-header
    h1 Style Guide 
        small Sexiness
//-- Style Guide Starts Here
//Headings
a.anchor#headings-anchor
h1 Headings
hr

.page-header
    h1 Page Header 
        small Small

h1 H1 Heading
h2 H2 Heading
h3 H3 Heading
h4 H4 Heading
h5 H5 Heading
h6 H6 Heading

//Containers
a.anchor#containers-anchor
h1 Containers
hr
h2 Article
article.
    All kinds of words and stuff about all kinds of things that make sense and apply to various other things and stuff.

h2 Blockquote
p A quote by Malcolm X
blockquote
    | I believe in the brotherhood of man, all men, but I don't believe in brotherhood with anybody who doesn't want brotherhood with me. I believe in treating people right, but I'm not going to waste my time trying to treat somebody right who doesn't know how to return the treatment.

