/*
    Colors
*/

//Personal Colors
@black:                 #000;
@purple:                #303;
@light-purple:          lighten(#303, 20%);

//Bootstrap Colors
@body-bg:               @black;
@jumbotron-bg:          @purple;
@jumbotron-color:       @gray-lighter;
